@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    /* Пълно премахване на заоблените ъгли */
    border-radius: 0 !important;
    cursor: crosshair;
  }
  body {
    background-color: #050505;
    color: #00ff41;
  }
}

/* Хакерски скролбар */
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #000; }
::-webkit-scrollbar-thumb { background: #00ff41; }